@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
}

@media screen and (min-width: 600px) {
    body {
        background-image: linear-gradient(to right, #3B3834, #B6762D);
        /*height: 100vh;*/
    }
    
    main {    
        position: relative;
        background-color: #2D3233;
        width: 300px;
        height: 530px;
        margin: 100px auto;
        padding: 10px;
        border: 0.5px solid rgba(0, 0, 0, 0.5);
        border-radius: 15px;
    }

    section#login > h1 {
        color: white;
        text-align: center;
        padding: 5px;
    }

    div#imagem {
        /*position: absolute;*/
        background-image: url(../imagens/pexels-fotios-photos-1777023.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 90%;
        height: 200px;
        margin: auto;
        padding: 10px;
        border-radius: 10px;
    }

    div#acesso {
        background-color: #38a9bb;
        width: 90%;
        height: 60px;
        margin: 10px auto;
        padding: 0px 10px 10px 10px;
        text-align: center;        
        border-radius: 10px;
    }

    div#acesso > h2 {
        font-size: 1.2em;
        padding: 0px;
    }

    div#acesso input[type=submit] {
        width: 50%;
        height: 25px;
        margin-top: 5px;
        border-radius: 5px;
        border-style: none;
        cursor: pointer;
    }

    div#acesso input[type=submit]:hover {
        background-color: #614f37;
        color: white;
    }

    div#criar {
        background-image: linear-gradient(to bottom, #293536, #a7e3ec);
        width: 90%;
        height: 160px;
        margin: 10px auto;
        padding: 0px 10px 10px 10px;
        border-radius: 10px;
    }

    div#criar > h1 {
        text-align: center;
        color: white;
    }

    div#criar input[type] {
        display: block;
        width: 80%;
        margin: 3px auto;
        padding: 3px;
        border-radius: 5px;
        border-style: none;
    }

    div#criar input[type=submit] {
        display: block;
        width: 50%;
        height: 25px;
        margin: 2px auto;
        padding: 2px;
        cursor: pointer;
    }

    div#criar input[type=submit]:hover {
        background-color: #614f37;
        color: white;
    }
}

